<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>jfrog-artifactory</id>
      <username>${env.JF_USER}</username>
      <password>${env.JF_PASSWORD}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>jfrog-artifactory</id>
      <mirrorOf>*</mirrorOf>
      <url>${env.JF_URL}/artifactory/uk1-maven-virtual</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>jfrog</id>
      <repositories>
        <repository>
          <id>jfrog-artifactory</id>
          <url>${env.JF_URL}/artifactory/uk1-maven-virtual</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jfrog-artifactory</id>
          <url>${env.JF_URL}/artifactory/uk1-maven-virtual</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>jfrog</activeProfile>
  </activeProfiles>

</settings>
